.btn{
    border: transparent;
    color: rgb(0, 0, 0);
    background: #34b1ba;
    margin: 0 5px 5px;
    border-radius: 55px;
    height: 30px;
    width: 30px;
}
.btn:hover{
    cursor: pointer;
    border: 2px solid #000000;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}